# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*$py.class

# Virtual Environments
venv/
env/
etc/
# Flask-specific
instance/
migrations/versions/
*.db
*.sqlite3

# Environment files & secrets
.env
*.env
.env.*
*credentials.json

# IDEs
.vscode/
.idea/

# Logs
*.log

# Testing & Coverage
htmlcov/
.coverage
.cache
nosetests.xml
pytest_cache/

# Distribution files
build/
dist/
*.egg-info/
*.egg

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db

# Backup & Swap files
*.swp
*.swo
*.bak

faiss_index/
*.idx
metadata/
*.jsonl
*.pkl

docs/
*.pdf

ollama/

.idea/
.vscode/
*.log
build/
