-r requirements.txt  # include base first


sentence-transformers==4.1.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-text-splitters==0.3.8
langchain-ollama==0.3.3
langsmith==0.3.45
faiss-cpu
torch>=2.7.1
transformers==4.52.4
numpy